head
  title= appTitle
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='icon', href='/images/icon.png')

body
  div(class="content")
    div(class="overlay" hidden="true")
    div(class="map")
    div(class="sidebar")
    button Toggle Restricted, no Charging
    button Toggle Open, no Charging
    button Toggle Restricted, Charging
    button Toggle Open, Charging
    button Toggle Check-In Locations
    button Toggle Check-Out Locations
    button Toggle Meeting Spaces
  script(type='text/javascript', src='https://cdn.firebase.com/js/client/1.0.18/firebase.js')
  script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  script(type='text/javascript', src='javascript/handlebars.js')
  script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB4NQtL9PBc0KOeCIY2n5rD0N4El6k09zw&sensor=false')

  // Views 
  script(type='text/javascript', src='javascript/main-view.js')
  script(type='text/javascript', src='javascript/google-map-view.js')
  // Main 
  script(type='text/javascript', src='javascript/main.js')
