.content {
  position: relative;
}


.overlay {
  position: absolute;
  z-index: 2;
  padding: 10px;
  background: red;
  margin: auto;
}

.map {
  height: 70%%;
}

.sidebar {
  width: 200px;
}

.thumb {
  width: 300px;
  height: 200px;
}